[data-theme='light'] {
    --color-bg: #ffffff;
    --color-text: #0f172a;
    --color-muted: #475569;
    --color-border: #e2e8f0;
  
    --color-primary: #3b82f6;
    --color-secondary: #6366f1;
    --color-success: #30b060;
    --color-warning: #fbc02d;
    --color-danger: #cc3828;
    --color-info: #38adc6;
  }
  