[data-theme="light"] {
  --color-bg: #ffffff;
  --color-text: #0f172a;
  --color-muted: #475569;
  --color-border: #e2e8f0;

  --color-heading: #181818;
  --color-hover: #fafafa;

  --color-primary: #6366f1;
  --color-secondary: #3b82f6;
  --color-success: #30b060;
  --color-warning: #fbc02d;
  --color-danger: #cc3828;
  --color-info: #38adc6;
  --color-disable: #7b7c7e;

  --color-sidebar: #fbfbfb;

  --color-bg-input: #f8fafc;
}
