:root {
  --font-raleway: "Raleway", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-xxl: 1.5rem;

  --heading-xs: 2rem;
  --heading-sm: 1.75rem;
  --heading-base: 1.5rem;
  --heading-lg: 1.25rem;
  --heading-xl: 1rem;
  --heading-xxl: 0.875rem;

  --leading-xs: 1;
  --leading-sm: 1.2;
  --leading-base: 1.5;
  --leading-lg: 1.8;
  --leading-xl: 2;
}
